.ets-title {
  font-family: Helvetica;
  font-size: 1.2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  padding-left: 1rem;
}

.ets-img {
  width: 230px;
  height: 230px;
  object-fit: cover;
}

.ets-star-outline {
  position: absolute;
  top: .4rem;
  right: .5rem;
}

.ets-star-fill {
  position: absolute;
  top: .7rem;
  right: .8rem;
}

.ets-remove-outline {
  position: absolute;
  top: .6rem;
  right: .62rem;
}
.ets-remove-fill {
  position: absolute;
  top: .66rem;
  right: .68rem;
}

.ets-card-b {
  padding: 10px
}

.ets-text-pc {
  font-family: Helvetica;
  font-size: .8rem;
  color: #5E5E5B;
  margin: 0px;
  padding-bottom: .3rem;
}

.ets-title-pc {
  font-size: .9rem;
  font-weight: bold;
  color: #343434;
}

.ets-stars-pc {
  padding-top: .5em;
}

.ets-compare {
  position: absolute;
  top: 10rem;
  left: 35%;
  z-index: 99;
  height: 400px;
  width: 500px;
  background-color: white;
  border: 1px solid black;
  font-family: Helvetica;
}

.ets-c-prodName {
  font-weight: bold;
}

.ets-curr-n {
  float: left;
}

.ets-comp-n {
  align: right;
}

.ets-features {
  padding-top: .8rem;
}

.ets-feat-row {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.ets-plus {
  font-size: 2.5rem;
}

.ets-strike {
  text-decoration: line-through;
}
.ets-discount {
  padding-left: .3rem;
  color: red;
}

.controls {
  position: absolute;
  top: 105px;
  height: 50px;
}