body {
  background-color: #f1f1f1;
}
.ets-title {
  font-family: Helvetica;
  font-size: 1.2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  padding-left: 1rem;
}

.ets-img {
  width: 230px;
  height: 230px;
  object-fit: cover;
}

.ets-star-outline {
  position: absolute;
  top: .4rem;
  right: .5rem;
}

.ets-star-fill {
  position: absolute;
  top: .7rem;
  right: .8rem;
}

.ets-remove-outline {
  position: absolute;
  top: .6rem;
  right: .62rem;
}
.ets-remove-fill {
  position: absolute;
  top: .66rem;
  right: .68rem;
}

.ets-card-b {
  padding: 10px
}

.ets-text-pc {
  font-family: Helvetica;
  font-size: .8rem;
  color: #5E5E5B;
  margin: 0px;
  padding-bottom: .3rem;
}

.ets-title-pc {
  font-size: .9rem;
  font-weight: bold;
  color: #343434;
}

.ets-stars-pc {
  padding-top: .5em;
}

.ets-compare {
  position: absolute;
  top: 10rem;
  z-index: 100000;
  height: 400px;
  width: 500px;
  background-color: white;
  border: 1px solid black;
  font-family: Helvetica;
}

.ets-c-prodName {
  font-weight: bold;
}

.ets-curr-n {
  float: left;
}

.ets-comp-n {
  align: right;
}

.ets-features {
  padding-top: .8rem;
}

.ets-feat-row {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.ets-strike {
  text-decoration: line-through;
}
.ets-discount {
  padding-left: .3rem;
  color: red;
}

.ets-controls {
  position: absolute;
  top: 105px;
  height: 50px;
}

.ets-rp {
  position: absolute;
}

.plus-div {
  position: absolute;
  top: 130px;
}

.ets-plus {
  font-size: 2.5rem;
}

.ets-ato-div {
  position: absolute;
  top: 185px;
}

.ets-custom-right {
  position: absolute;
  background-color: rgba(66, 66, 66, 0.5);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  right: 5px;
  border: 0;
  transition: all .5s;
}
.ets-custom-right:hover {
  background: rgba(66, 66, 66, 0.8);
}
.ets-custom-left{
  position: absolute;
  background-color: rgba(66, 66, 66, 0.5);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  left: 2px;
  border: 0;
  transition: all .5s;
}
.ets-custom-left:hover {
  background: rgba(66, 66, 66, 0.8);
}